*.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.bib
*.bst
*.sty
*.asv
*.lst
*.spl
*.gpr
*.lxi
*.gdx
*.~gm
*.eps
*.fig
*.png
*.tif
Efuels
225*
benopt.gdx
*.json
benopt.pdf
*.ref
src/benopt.txt
interconnectors*
201401_BEniVer_UFZ.pptx
BEniVerProjektFile.dat
BEniVerProjektFile.gpr
Results.xlsx
benopt.m
benoptBEniVer.lst
benoptBEniVer.lxi
benoptBEniVer.~gm
benoptTestParfor.m
biofuelsData.mat
biomassResid
config
config.pub
example1.pdf
example2.pdf
fancyhdr.sty.txt
generationData2016_19.xlsx
head_foot
kappa
matdata.gdx
matdata.gms
matsol.gdx
monteCarlo2.m
monteCarloData1911291605.mat
monteCarloData1911292242.mat
monteCarloDataOut.mat
old
paperElectrofuels
powerTimeSeriesData.mat
processFlow.pdf
processFlow.png
processFlow.vsdx
rsc-articletemplate.pdf
rsc-articletemplate.tex
sh.exe.stackdump
smop-master
suplabel.m
figures
BENOPT_inputData_190830.xls
submission
benoptpaper